{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Contacts | PMA {% endblock %}
{% block contacts %}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2> Keep up with all your contacts</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>

                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info"><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Add Contacts</a></div>
                <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                    <thead>
                        <tr>
                            <th>Contact Name</th>
                            <th>About</th>
                            <th>Way-forward</th>
                            <th>Date Seen</th>
                            <th>Next Appointment</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in Contact %}
                            <tr>
                              <td height="auto" >{{ contact.ContactName }}</td>
                              <td>{{ contact.About }}</td>
                              <td>{{ contact.WayForward }}</td>
                              <td>{{ contact.DateSeen }}</td>
                              <td>{{ contact.nextMtg }}</td>


                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}